@import "../customize";
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-primary {
  color: $--color-primary;
}
.text-primary-light-1 {
  color: $--color-primary-light-1;
}
.text-success {
  color: $--color-success;
}
.text-success-light {
  color: $--color-success-light;
}
.text-success-lighter {
  color: $--color-success-lighter;
}
.text-warning {
  color: $--color-warning;
}
.text-warning-light {
  color: $--color-warning-light;
}
.text-warning-lighter {
  color: $--color-warning-lighter;
}
.text-danger {
  color: $--color-danger;
}
.text-danger-light {
  color: $--color-danger-light;
}
.text-danger-lighter {
  color: $--color-danger-lighter;
}
.text-info {
  color: $--color-info;
}
.text-info-light {
  color: $--color-info-light;
}
.text-danger-lighter {
  color: $--color-info-lighter;
}

.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
.bg-primary {
  background-color: $--color-primary;
}
.bg-primary-light-1 {
 background-color: $--color-primary-light-1;
}
.bg-success {
 background-color: $--color-success;
}
.bg-success-light {
 background-color: $--color-success-light;
}
.bg-success-lighter {
 background-color: $--color-success-lighter;
}
.bg-warning {
 background-color: $--color-warning;
}
.bg-warning-light {
 background-color: $--color-warning-light;
}
.bg-warning-lighter {
 background-color: $--color-warning-lighter;
}
.bg-danger {
 background-color: $--color-danger;
}
.bg-danger-light {
 background-color: $--color-danger-light;
}
.bg-danger-lighter {
 background-color: $--color-danger-lighter;
}
.bg-info {
 background-color: $--color-info;
}
.bg-info-light {
 background-color: $--color-info-light;
}
.bg-danger-lighter {
 background-color: $--color-info-lighter;
}



